@tailwind base;
@tailwind components;
@tailwind utilities;
.card-group{
    min-width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(10rem,1fr));
    grid-gap: 10px; 
    transition: all .8s ease;
    padding-bottom: 230px;
}
.etiqueta{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    color: white;
}
.contenedor-cards{

    max-height: 200px;
    min-width: 150px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 20px;
    
}
.contenedor-cards img{
    margin: auto;
    min-width: 100px;
    width: 100px;
    height: 100px;
    min-height: 100px;
}